name: iOS starter workflow

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build and Test default scheme using any available iPhone simulator
    runs-on: macos-13
    env:
      scheme: ${{ 'Onegin' }}
      CI_RESULT_BUNDLE_PATH: test-results/tests-${{ github.run_number }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Create Simulator
        run: |
          xcode-select -p
          xcodebuild -version
          xcrun simctl create iphone14 com.apple.CoreSimulator.SimDeviceType.iPhone-14

      - name: Build
        run: >
          xcodebuild build-for-testing
          -scheme "$scheme"
          -destination name=iphone14
          | xcpretty

      - name: Test
        run: >
          xcodebuild test-without-building
          -scheme "$scheme"
          -destination name=iphone14
          -resultBundlePath $CI_RESULT_BUNDLE_PATH
          | xcpretty

      - name: Setup tmate session
        if: ${{ failure() }}
        uses: mxschmitt/action-tmate@v3
        timeout-minutes: 10

      - name: Archive results # due to: https://github.com/actions/upload-artifact/issues/243
        if: always()
        run: zip -FSry test-results.zip test-results || true

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: test-results
          path: test-results.zip
